@charset "utf-8";

/* ヘッダー */
header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav li {
    color: white;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    width: 105px;
    text-align: center;
    font-weight: bold;
}

/* キャッチコピー */
.copy {
    text-align: center;
}

.copy1 {
    margin-top: 104px;
    font-size: 30px;
    line-height: 1.17;
}

.copy2 {
    margin-top: 47px;
    font-size: 82px;
    letter-spacing: 0.1em;
}

.copy3 {
    margin-top: 21px;
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* 共通 */
h2 {
    text-align: center;
}

.part {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* ABOUT US */
.about_photo {
    border-bottom-right-radius: 82px;
}

.style {
    width: 50%;
}

.about_title {
    font-size: 44px;
    margin-top: 48px;
    margin-bottom: 22px;
    line-height: 1.38;
}

.title1 {
    width: 272px;
    height: 77px;
    margin-top: 55px;
}

.about_text {
    font-size: 16px;
    line-height: 1.62;
}

.about_group {
    text-align: left;
    width: 41%;
    padding-right: 10px;
}

#about {
    display: flex;
    margin-top: 92px;
    justify-content: space-between;
}



/* MENU */
.title2 {
    width: 151px;
    height: 78px;
    margin: 94px auto 32px;
}

.menu_detail {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu_title {
    color: red;
    text-align: left;
    font-size: 38px;
    margin-top: -8px;
    padding-left: 16px;
}

.menu_photo {
    border-top-right-radius: 42px;
}

.menu_detail li {
    width: 30%;
}

.menu_detail p {
    text-align: left;
    padding-top: 20px;
    line-height: 1.47;
}

#menu {
    padding-right: 10px;
}


/* gallery */
.title3 {
    width: 245px;
    height: 78px;
    margin: 78px auto 15px;
}

.photo {
    display: flex;
    width: 100%;
}

.photo img {
    width: 20%;
}

/* EVENT */
.title4 {
    margin: 60px auto 30px;
    width: 173px;
    height: 78px;
}

.event_detail {
    border: 3.7px solid;
    background-color: white;
    padding: 37px 168px 37px 158px;
    font-size: 23px;
}

.event_detail ul {
    display: flex;
    gap: 45px;
}

.event_detail li {
    line-height: 1.95;
}

.event_text {
    text-decoration: underline;
}

/* access */
.title5 {
    width: 214px;
    height: 78px;
    margin: 71px auto 36px;
}

iframe {
    height: 471px;
    width: 100%;
}

/* footer */
footer {
    background-color: white;
}

.footer_wrap {
    display: flex;
    align-items: stretch;
    gap: 64px;
    padding-top: 76px;
    margin: 0 auto 71px;
    max-width: 1000px;
}

.footer_logo {
    width: 227px;
    height: 50px;
}

.footer_wrap p {
    line-height: 1.95;
}

.copy_light {
    font-size: 16px;
    text-align: center;
    padding-bottom: 73px;
}

/* ページトップボタン */
.pagetop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 125px;
}