@charset "utf-8";

.box {
    width: 30%;
    height: 300px;
    background: blue;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.square {
    width: 30%;
    height: 300px;
    background: red;
}

.case {
    max-width: 960px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav {
    max-width: 960px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

li {
    border-left: 1px solid;
    padding: 5px 0 5px 30px;
}

li:first-child {
    border-left: none;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        gap: 5px;
    }

    .nav {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .nav li {
        border-left: none;
        border-bottom: 1px solid;
        padding-left: 0;
    }
}